<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Indiga!</title>
</head>
<body>
    <div>
        <h1>Welcome to Indiga's Residetnal Representative's Website</h1>
    </div>
    <div>
        <h4>Our Native Fruit</h4>
        <img src ="../img/nativeFroot.png" alt="Animal crossing peach"/>
        <p>Peaches</p>
        <h5>Our Current Island Layout</h5>
        <img src = "/img/indigaLayout.jpg" alt="Island Map"/>
        <div>
            <h4>Meet Our Current Residents!</h4>
            <div>
                <ul>
                    <img src="../img/Fuchsia.png" alt="fuchsia a animal crossing villager"/>
                    <li>Fuchsia</li>
                    <img src ="../img/Sheldon.png" alt="sheldon a animal crossing villager"/>
                    <li>Sheldon</li>
                    <img src="../img/Erik.png" alt="erik a animal crossing villager"/>
                    <li>Erik</li>
                    <img src="../img/Bertha.png" alt="bertha a animal crossing villager"/>
                    <li>Bertha</li>
                    <img src="../img/uglyBitch.png" alt="henry a animal crossing villager"/>
                    <li>Henry</li>
                    <img src="../img/Bitch.png" alt= "flora a animal crossing villager"/>
                    <li>Flora</li>
                </ul>
            </div>
        </div>
        <div>
            <h5>Thinking about joining the Indiga island community?</h5>
            
            <button onClick="window.location.href= 'https://www.animal-crossing.com/new-horizons/'">Click here to find out our next flights.</button>
        </div>
        
    </div>
    
</body>
</html>